// Jawne zadeklarowanie struktury siatki
.container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 100px;
  grid-template-rows: 100px 200px 1fr;

  .e1 {
    background-color: teal;
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
  }
}

// -------------------

//Wymuszenie
// .container-2 {
//   display: grid;
//   grid-auto-rows: 100px;
// }

// .e1 {
//   background-color: teal;
//   grid-row: 3/5;
//   grid-column: 2/4;
// }
